@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1575815683570'); /* IE9 */
  src: url('iconfont.eot?t=1575815683570#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKAAAsAAAAABigAAAIzAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAo0TwE2AiQDCAsGAAQgBYRtBy8bdAURBWzJviiwG4sz1HXJJpyvz4dqZFjLheDkgjwP4uFpv2/nvpn3d9Y0iUlVpIkmokoibiVBKFCSRUrXUEzyT3hmnnyYPt+aLlfcIzwXzeiS+LHUtJ35jp2GdR6nUQohERKhSehoaZ/ncnoT6EBaHyjHvWiNQQOoFwcU4F4YRVZCGTeMXfACHxNoM2pZnDi1P0GR2asCce92EkAp+GWZpYrQaDiYxQuoleqZMZ5H34+vNqNQqRO74tyNRQz730ZORjr+H7saEBAgoOM1EpaRiUuN8TOSYFzSFs8mOVZp8G202Qxs4qhmwf46u7gDDMNE8G3UWylABY8lGTjYNeluouPmu8Zevfva8Mua/ODHr8BmH/+sehQEgsnVp3v6X4YZfOhfSlFTFr9Q1nUE/0A6sC8bcttaZU3aOFrp2HdLmzY0YXefL1MNgydMh2JwgrPFSIakmCYzu4xau200FHtos+T08Xb9nkgit2IaewGEHm9UurxH0uNDZvaL2pAfGnpigDZXov/CdrORqSOmQCjG8IlZ1NTatYuKSw+UXMuA8/KIdyHusxA6pl1OragmXmJLf0tcEY2amwqX4DkqywZbbnKKxExF2rll6aY3mVFTgXKEkYAgMRR6QplIo6aD8UJVPn9AElelAHf01MUvCOtl0yOHyR5ArjT1oJ5HeaV3k3AJoSGNNSpoCeaRUqmB2uZ5ORIRpnRCtDVnOcP0UI25va76uxMAKLbRCGdGUl/LgtoBAAAAAA==') format('woff2'),
  url('iconfont.woff?t=1575815683570') format('woff'),
  url('iconfont.ttf?t=1575815683570') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1575815683570#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dian1:before {
  content: "\ec1e";
}

