.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    min-width: 425px;
    margin-left: -14px;
}

.list-item {
    margin: 14px 10px 0px;
    min-width: 30%;
    list-style: none;
}

.example {
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 30px 50px;
    margin: 20px 0;
    width: 100%;
    height: 100%;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
}

.loading {
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 30px 50px;
    margin: 20px 0;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.ant-comment {
    background: rgba(143, 132, 132, 0.05);
    margin: 5px 0;
}